/* Font-Face Definitions */
@font-face {
  font-family: 'text_font';
  src: url('../fonts/Montserrat/static/Montserrat-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'title_font';
  src: url('../fonts/Julius_Sans_One/JuliusSansOne-Regular.ttf') format('truetype');
}

/* Color Palette */
:root {
  --palette-text: #252422;
  --palette-dark: #403d39;
  --palette-light: #ccc5b9;
  --palette-background: #fffcf2;
  --palette-accent: #eb5e28;
}

/* Body Styling */
body {
  background-color: var(--palette-background);
  font-family: 'text_font', Arial, sans-serif;
  margin: 0;
  padding: 0;
  color: var(--palette-text);
}

/* Navbar */
.navbar {
  background-color: var(--palette-text);
}

.navbar-brand,
.nav-link {
  color: var(--palette-light) !important;
  font-family: 'title_font', sans-serif;
}

/* Hero Section */
.hero {
/*  background: url('../images/mega_bomberman.png') no-repeat center center/cover; */
  background-color: #252422;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: var(--palette-light);
}

.hero h1 {
  font-family: 'title_font', sans-serif;
  font-size: 4rem;
  color: var(--palette-accent);
}

/* About Me Section */
.about_content {
  padding: 60px 0;
}

#profile_img img {
  max-width: 100%;
  border-radius: 0%;
}

#about_text {
  font-size: 18px;
  line-height: 1.5;
  color: var(--palette-text);
}

/* Buttons */
.btn-primary {
  background-color: var(--palette-accent);
  border: none;
  font-family: 'text_font', Arial, sans-serif;
}

.btn-primary:hover {
  background-color: var(--palette-light);
}

/* Project Section */
.card {
  background-color: var(--palette-background);
  border: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card-title {
  font-family: 'title_font', sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: var(--palette-accent);
}

.card-text {
  font-family: 'text_font', Arial, sans-serif;
  font-size: 16px;
  color: var(--palette-text);
}

/* Footer */
.footer_section {
  background-color: var(--palette-text);
  padding: 20px 0;
  text-align: center;
  color: var(--palette-light);
}
