@font-face {
  font-family: 'text_font';
  src: url('../fonts/Montserrat/static/Montserrat-Regular.ttf') format('truetype')
}

@font-face {
  font-family: 'title_font';
  src: url('../fonts/Julius_Sans_One/JuliusSansOne-Regular.ttf') format('truetype')
}

/*screen size global variales*/

:root {
  --screen-width: 100%; /* Default value for small screens */
}


body {
  background: #fffcf2;
  margin: 0;
  padding: 0;
  justify-content: center;
  max-width: 100%;
  max-height: 100%;
  }
  #root{
    justify-content: center;
    align-items: center;
  }
  .title{
    margin-top: 15px;
    font-size: 15px;
    color: #252422;
    text-align: left;
    font-family: 'title_font', sans-serif;
  }
  /*serparator */
  hr.solid{
    width:var(--screen-width);
    margin-top: 5px;
    border-top: 2px solid #eb5e28;
  }
  .Color-palette{
    color:#252422;
    color:#403d39;
    color:#ccc5b9;
    color:#fffcf2;
    color:#eb5e28;

  }
  /*----------------------------*/
#main-header {
  width:var(--screen-width);;  
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 100px;
  padding: 20px;
}
#main-header h1{
  font-family: 'title_font', sans-serif;
  float: left;
  color: #252422;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 30px; 
}
/*----------------------------*/
#about_me {
  width:var(--screen-width);;  
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 20px;
}

.about_content{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
/*
  small screen
*/
@media (max-width: 768px) {
  :root {
    --screen-width: 90%; /* Adjust the value for big screens */
  }
  .about_content {
      flex-direction: column;
  }
  #projects {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
  .skill_content{
    flex-direction: column;
  }
  #profile_img img {
    width: 100%;
    height: auto;
    object-fit: contain;
  } 
}
/*
  big screen screen
*/
@media (min-width: 769px) {
  :root {
    --screen-width: 50%; /* Adjust the value for big screens */
  }
  #projects {
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  }
  .skill_content{
    flex-direction: row;
  }
  #profile_img img{
    width: 250px;
    height: 250px;
    object-fit: contain;
  } 
}
#profile{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#profile_img  {
  justify-content: left;
  margin-left: 0%;
}
#about_text{
  padding-left: 10px;
  text-align: justify;
  vertical-align: text-top;
  color: #252422;
  font-family: 'text_font', Arial, sans-serif;
  font-size: 18px;
  line-height: 1.5;
}

#about_text p{
  margin: 0;
}
/* .about_content .contact_info{
  margin:0;
  padding: 0%;
  align-items: center;
  display: flex;
  flex-direction: row;
} */
/*---------------------------------------*/
#skills{
  width:var(--screen-width);;  
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.skill_content{
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-gap: 25%;
  display: flex;
}
.skill_set{
  line-height: 1.5;
  color: #252422;
  width:250px;
}
.skill_set p{
  font-family: 'text_font', Arial, sans-serif;
  font-size: 18px;
}
.skill_set h2{
  font-family: 'title_font', Arial, sans-serif;
  font-size: 15px;
}
/*---------------------------------------*/
#portfolio{
  width:var(--screen-width);;  
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
}
/* porject settings*/
#projects_title{
  text-align: center;
  color: #eb5e28;
  font-size: 32px;
  font-family: 'title_font', Arial, sans-serif;
}

#projects {
 /*   grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));*/
    margin: auto auto;
    display: grid;
    place-items: center;
    grid-gap:20px;    
  }
  
  .project-container {
    display: grid;
    grid-template-columns: 2fr;
    gap: 20px;
  }

.project {
    background-color: #fffcf2;
    height: 80%;
    overflow: hidden;
    border-radius: 10px;
    padding: 5%;
    box-shadow: 0 10px 15px #eb5e28;
    transition: background-color 0.5s ease, transform 0.3s ease
}

.project:hover {
    transform: translateY(-5px);
    background-color: #ccc5b9;
}
.project_image {
    margin: auto;
    width: 100%;
    height: 45%;
    overflow: hidden;
    display:flex;
    justify-content: center;
    align-items: center;
    object-fit: fill;
    border-radius: 10px;
  }
  
  .project_image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
.project .project_details {
    text-align: center;
    max-height: 100%;
}

.project .project_title {
    font-size: 20px;
    color: #303030;
    font-family: 'title_font', Arial, sans-serif;
}
  .project .project_description {
    font-size: 18px;
    word-wrap: break-word; /* Wrap long words to the next line */
    max-width: 100%; /* Set a maximum width for the text */
    max-height: 100%;
    color: #252422;
    line-height: 1.5;
    border-radius: 5px;
    max-height: 200px;
    overflow: auto;
    font-family: 'text_font', Arial, sans-serif;
    scrollbar-width: auto;
    scrollbar-color: transparent transparent;
    padding-right: 16px; /* Add space for scrollbar */
    box-sizing: border-box; /* Include padding in total height */
  }
  
  .project .project_description::-webkit-scrollbar {
    width: 8px; /* Adjust the scrollbar width as needed */
  }
  
  .project .project_description::-webkit-scrollbar-track {
    background-color:#dbdbdb0a; /* Set the scrollbar track color */
  }
  
  .project .project_description::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2); /* Set the scrollbar thumb color */
    border-radius: 4px; /* Adjust the thumb border radius as needed */
  }
  
  .project .project_description:hover::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.4); /* Set the hover state thumb color */
  }
.project h2{
    font-family: 'title_font', Arial, sans-serif;
}
.project a {
    text-decoration: none;
    color:#eb5e28;
    font-family: 'text_font', Arial, sans-serif;
  }
  
  .project a:hover {
    text-decoration: underline;
    color:#eb5e28;
  }
  .project_description::-webkit-scrollbar {
    width: 8px;
    background-color: #f8f8f8;
  }
  
  .project_description::-webkit-scrollbar-thumb {
    background-color: #c4c4c4;
    border-radius: 4px;
  }
  
  .project_description::-webkit-scrollbar-track {
    background-color: #f8f8f8;
    border-radius: 4px;
  }
.contact{
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
}
.contact_img img{
  width:auto;
  filter: invert(1);
  background-blend-mode:color-burn;
}